alembic==1.17.0
bcrypt==4.3.0
brotli==1.1.0
beautifulsoup4==4.14.2
cryptography==46.0.2
celery==5.5.3
celery-types==0.23.0
httpx==0.28.1
httpx[socks]==0.28.1
httpx-retries==0.4.5
lxml==6.0.2
selenium==4.36.0
selenium-stealth==1.0.6
2captcha-python==1.5.1
fastapi[all]==0.119.0
pydantic-settings==2.11.0
passlib==1.7.4
pymysql==1.1.2
python_jose==3.5.0
redis==6.4.0
sqlalchemy==2.0.44
tenacity==9.1.2